select {
  -moz-appearance: button;
  -ms-appearance: button;
  -webkit-appearance: button;
  appearance: button;
  background-color: #229954;
  border: none;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 12px;
}

select:hover {
  background-color: #40B772;
}

select:focus {
  outline: none;
}

 .validate {
  color: red;
  display: none;
  font-size: 18px;
}

.sort {
  margin-top: 40px;
}

.sort-direction {
  background-color: #229954;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-left: 22px;
  padding: 12px 15px;
  text-decoration: none;
}

.sort-direction:hover {
  background-color: #40B772;
}

.sort-action {
  color: red;
  display: none;
  font-size: 18px;
}
