<!DOCTYPE html>
<html>

<head>
  <title>My Plants</title>
  <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/style.css">
  {% block head %}{% endblock %}
</head>

<body>
  <nav>
    <a href="/">Home</a>
    <a href="/seeds">Seeds</a>
    <a href="/about">About</a>
  </nav>

  {% block content %}{% endblock %}

  <footer>
    <div>
      Copyright 2020 @ makeschool.com
    </div>
  </footer>
</body>

</html>
