{% extends 'base.html' %}
{% block head %}

<script src="/static/create.js" defer></script>

{% endblock%}
{% block content %}

<main>
  <h1>New Plant</h1>

  <form method='POST'>
    <fieldset>
      <legend>Please fill out your plant's info:</legend>

      <label>
        Choose a seed to plant:
        <select name="seed_name">
          <option value="" selected disabled hidden>Seeds</option>
          {% for seed in seeds %}
          <option value="{{ seed.name }}">{{ seed.name }} ({{ seed.variety }})</option>
          {% endfor %}
        </select>
      </label>

      <label>
        Plant's name:
        <input type="text" name="plant_name" value="" readonly required>
      </label>

      <label>
        Plant's variety:
        <input type="text" name="variety" value="" readonly required>
      </label>

      <label>
        Plant's photo URL:
        <input type="url" name="photo" required>
      </label>

      <label>
        Date planted:
        <input type="date" placeholder="mm/dd/yyyy" name="date_planted" required>
      </label>

      <input type="submit" class="submit" value="Submit!">
    </fieldset>
  </form>
</main>

{% endblock content %}
