{% extends 'base.html' %}
{% block head %}

<link rel="stylesheet" href="/static/dropdown.css">
<script src="/static/create.js" defer></script>

{% endblock%}
{% block content %}

<main>
  <h1>New Plant</h1>

  <form method='POST'>
    <fieldset>
      <legend>Please fill out your plant's info:</legend>

      <label for="seed" class="validate">
        Please choose a seed
      </label>
      <select name="seed" id="seed">
        <option value="" selected disabled hidden>Choose a seed to plant &nbsp;&nbsp;&nbsp;&nbsp; ▼</option>
        {% for seed in seeds %}
        <option value="{{ seed._id }}">{{ seed.name }} ({{ seed.variety }})</option>
        {% endfor %}
      </select>

      <label>
        Plant's name:
        <input type="text" name="plant_name" value="" readonly required>
      </label>

      <label>
        Plant's variety:
        <input type="text" name="variety" value="" readonly required>
      </label>

      <label>
        Plant's photo URL:
        <input type="url" name="photo" required>
      </label>

      <label>
        Date planted:
        <input type="date" placeholder="mm/dd/yyyy" name="date_planted" required>
      </label>

      <input type="submit" class="submit" value="Submit!">
    </fieldset>
  </form>
</main>

{% endblock content %}
