{% extends 'base.html' %}
{% block head %}

<script src="/static/hover.js" defer></script>

{% endblock %}

{% block content %}


<main>
  <div class="content">
    <h1 class="title">My Plants</h1>

    <a href="/create" class="nav">+ New Plant</a>

    <div class="items" id="items">
      {% for plant in plants %}
      <div class="card">
        <a href="/plant/{{ plant._id }}"><img src="{{ plant.photo_url }}"></a>
        <div class="card-content">
          <a href="/plant/{{ plant._id }}">{{ plant.name }}</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</main>

{% endblock content %}
