{% extends 'base.html' %}
{% block head %}

<link rel="stylesheet" href="/static/dropdown.css">
<script src="/static/hover.js" defer></script>

{% endblock %}

{% block content %}

<main>
  <div class="content">

    <h1 class="title">My Seeds</h1>

    <a href="/seed/create" class="nav">+ New Seed</a>

    {% if not seeds %}

    <h3>You currently have no seeds.</h3>

    {% else %}

    <br />

    <select name="sort" id="sort" class="sort">
      <option value="" selected disabled hidden>Sort your seeds &nbsp;&nbsp;&nbsp;&nbsp; ▼</option>
      <option value="by_name">By Name</option>
      <option value="by_date_aquired">By Date Aquired</option>
    </select>


    <div class="items" id="items">
      {% for seed in seeds %}
      <div class="card">
        <a href="/seed/{{ seed._id }}"><img src="{{ seed.photo_url }}"></a>
        <div class="card-content">
          <a href="/seed/{{ seed._id }}">{{ seed.name }}</a>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</main>

{% endblock content %}
