{% extends 'base.html' %}
{% block content %}

<main>
  <h1>Edit Seed</h1>

  <form method='POST'>
    <fieldset>
      <legend>Please fill out your seed's info:</legend>

      <label>
        Seed's name:
        <input type="text" name="seed_name" value="{{ seed.name }}" required>
      </label>

      <label>
        Seed's variety:
        <input type="text" name="variety" value="{{ seed.variety }}" required>
      </label>

      <label>
        Seed's photo URL:
        <input type="url" name="photo" value="{{ seed.photo_url }}" required>
      </label>

      <label>
        Date date_aquired:
        <input type="date" name="date_aquired" value="{{ seed.date_aquired }}" required>
      </label>

      <input type="submit" class="submit" value="Submit!">
    </fieldset>
  </form>
</main>

{% endblock content %}
