{% extends 'base.html' %}
{% block head %}

<script src="/static/delete.js" defer></script>

{% endblock %}

{% block content %}

<main>
  <h1>{{ seed.name }}</h1>

  <img class="detail-photo" src="{{ seed.photo_url }}">

  <section id="info">
    <h3>Info</h3>

    <strong>Date Aquired</strong>
    {{ seed.date_aquired }}
    <br><br>

    <strong>Variety</strong>
    {{ seed.variety }}
    <br><br>

    <a class="nav" href="/seed/edit/{{ seed_id }}">Edit Seed</a><br><br>

    <form action="/seed/delete/{{ seed_id }}" method='POST' class="delete-form" id="delete-form">
      <input type="submit" class="nav" onclick="delete_modal()" value="Delete Seed">
    </form>
  </section>
</main>

{% endblock content %}
